
#sched {
	margin-right: 200px;
	margin-left: relative;
	margin-top: 100px;
	position: absolute;
	z-index: 1000;
	right: 0;

}

#ba {
	z-index: 100;
	position: fixed;
}

@font-face {
    font-family: MarketFresh;
    src: url(fonts/marketfresh.otf);
}


#a {
 	background-color: #6B7DBD;
}

#b {
 	background-color: #EE925F;
}


#c {
 	background-color: #4867AE;
}

#title {
	font-size: 100px; 
	font-family: MarketFresh;
	font-style: bold;
	text-align: center;

}

#subtitle {
	font-size: 50px; 
	font-family: "San Serif";
	font-style: bolder;
	text-align: center;
}